.hero {
    min-height: 520px;

    display: flex;
    align-items: center;

    padding: 50px 8% 30px;

    position: relative;
}

/* LEFT */

.hero-content {
    width: 50%;
    z-index: 2;
}

.premium {
    color: #e68120;
    font-size: 13px;
    font-weight: 600;

    letter-spacing: 2px;

    margin-bottom: 18px;
}

.premium span {
    font-size: 18px;
}

.hero h1 {
    font-family: Georgia, serif;

    font-size: clamp(45px, 5vw, 70px);
    line-height: 1.05;

    font-weight: 500;

    color: #fff;

    margin-bottom: 25px;
}

.hero h1 span {
    color: #e68120;
}

.hero-description {
    color: #b9aaa0;

    font-size: 14px;
    line-height: 1.7;

    margin-bottom: 25px;
}

/* BUTTON */

.explore-btn {
    border: none;

    background: #e68120;
    color: #241006;

    border-radius: 30px;

    padding: 12px 22px;

    font-size: 13px;
    font-weight: 600;

    display: flex;
    align-items: center;
    gap: 12px;

    transition: 0.3s;
}

.explore-btn:hover {
    transform: translateY(-2px);
    background: #f09a3b;
}

.explore-btn i {
    font-size: 15px;
}

/* RIGHT IMAGE */

.hero-image {
    width: 50%;
    height: 450px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 75%;
    height: 100%;

    object-fit: contain;

    position: relative;
    z-index: 2;

    filter: drop-shadow(0 20px 25px rgba(0, 0, 0, 0.7));
}

/* Glow behind coffee */

.coffee-glow {
    position: absolute;

    width: 350px;
    height: 350px;

    background: rgba(172, 88, 22, 0.25);

    filter: blur(80px);

    border-radius: 50%;
}

/* Badge */

.coffee-badge {
    position: absolute;

    right: 0;
    top: 70px;

    background: rgba(30, 17, 10, 0.85);

    border: 1px solid rgba(255,255,255,0.15);

    padding: 12px 18px;

    border-radius: 12px;

    display: flex;
    gap: 10px;
    align-items: center;

    z-index: 5;
}

.coffee-badge i {
    color: #e68120;
    font-size: 22px;
}

.coffee-badge small {
    display: block;

    font-size: 12px;
    font-weight: bold;
}

.coffee-badge span {
    display: block;

    color: #aaa;

    font-size: 9px;
}