* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #21140d;
}

.page {
    min-height: 100vh;

    background:
        linear-gradient(
            rgba(33, 20, 13, 0.82),
            rgba(33, 20, 13, 0.94)
        ),
        url("./assets/background.jpeg");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: #e8d8c5;

    overflow: hidden;
}

.section-title {
    width: 85%;
    margin: 40px auto 25px;

    color: #c68a52;
}

.section-title hr {
    border: 0;
    border-top: 1px solid #705746;

    opacity: 0.7;
}

.section-title h5 {
    font-size: 19px;
    font-weight: 600;
}