.trending {
    width: 85%;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;

    padding-bottom: 70px;
}

.drink-card {
    background: #302015;

    border: 1px solid #4a3525;

    border-radius: 12px;

    overflow: hidden;

    transition: 0.3s;
}

.drink-card:hover {
    transform: translateY(-5px);

    border-color: #8c6443;
}

.drink-image {
    height: 210px;

    position: relative;

    padding: 15px;
}

.drink-image img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 8px;
}

.rating {
    position: absolute;

    right: 25px;
    top: 25px;

    background: #eee4d8;

    color: #352419;

    padding: 5px 8px;

    border-radius: 5px;

    font-size: 11px;
    font-weight: 600;
}

.rating i {
    color: #c68a52;
}

.drink-info {
    padding: 5px 20px 20px;
}

.drink-info h5 {
    color: #e8d8c5;

    font-family: Georgia, serif;

    margin-bottom: 8px;
}

.drink-info p {
    color: #a99582;

    font-size: 12px;

    line-height: 1.5;

    min-height: 36px;
}

.drink-bottom {
    display: flex;

    align-items: center;

    justify-content: space-between;

    margin-top: 15px;
}

.drink-bottom strong {
    color: #c68a52;

    font-size: 17px;
}

.add-icon {
    color: #c68a52;

    font-size: 22px;

    cursor: pointer;
}